// $violet: violet;
// $blue: #0ff;

// .orb {
//     animation:spin 4s linear infinite;
//     width: 200px;
//     height: 200px;
//     margin: auto;
//     margin-top: 140px;
//     border-radius: 50%;
//     box-shadow:
//         inset 0 0 50px #fff,
//         inset 20px 0 60px $violet,
//         inset -20px 0 60px $blue,
//         inset 20px 0 300px $violet,
//         inset -20px 0 300px $blue,
//           0 0 50px #fff,
//           -10px 0 60px $violet,
//           10px 0 60px $blue;
// }

// @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }









$orange: #fd7e14;

.orb {
    animation: spin 4s linear infinite;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 140px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px $orange,
        inset -20px 0 60px $orange,
        inset 20px 0 300px $orange,
        inset -20px 0 300px $orange,
        0 0 50px #fff,
        -10px 0 60px $orange,
        10px 0 60px $orange;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
